//start header
.header {
	position: relative;
	z-index: 500;
	// .header__wrapper
	&__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 26px;

		@media (max-width: $container-width) {
			padding-top: calc(16.5px + (26 - 16.5) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
// .header__logo
	&__logo {
		width: 100%;
		max-width: 245px;

		@media (max-width: $container-width) {
			max-width: calc(211px + (245 - 211) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .header__logo-img
	&__logo-img {
		max-width: 100%;
		object-fit: cover;
		object-position:center;
	}
}
//end header

//start main-screen
.main-screen {
	// .main-screen__wrapper
	&__wrapper {
		height: 775px;
		position: relative;
		padding-top: 124px;
		overflow: hidden;

		@media (min-width: 1920px) {

			&:before {
				position: absolute;
				content: "";
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url('../images/main-screen/bg.jpg');
				background-repeat: repeat;
				background-position: center;
				background-size: cover;
			}
		};

		@media (max-width: $container-width) {
			padding-top: calc(90px + (124 - 90) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (min-width: $media-768) {
			height: 640px;
		};

		@media (min-width: $media-991) {
			height: 700px;
		};
	}
	// .main-screen__bg
	&__bg {
		z-index: -1;
	}
	// .main-screen__body
	&__body {
		position: relative;
		z-index: 2;
		display: flex;

		@media (max-width: $media-768) {
			justify-content: center;
		};
	}
	// .main-screen__item
	&__item {

		@media (min-width: $media-480) {
			flex: 0 0 542 / $container-calc * 100%;
		};
	}
	// .main-screen__title
	&__title {
		text-transform: uppercase;
		font-family: $Merriweather-Regular;
		font-size: 60px;
		line-height: 1.1;

		@media (max-width: $container-width) {
			font-size: calc(34.5px + (60 - 34.5) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		&--center,
		&--left {
			display: block;
		}
		// .main-screen__title--center
		&--center {
			text-align: center;
		}
		// .main-screen__title--left
		&--left {
			text-align: right;
		}
	}
	// .main-screen__subtitle
	&__subtitle {
		margin: 24px 0 0 0;
		font-family: $GolosText-Regular;
		font-size: 18px;
		line-height: 22 / 18 * 100%;
		color: $shaft;

		@media (min-width: $media-480) {
			text-align: center;
			line-height: 23 / 18 * 100%;
		};
	}
	// .main-screen__links-box
	&__links-box {
		margin: 40px 0 0 0;

		@media (min-width: $media-768) {
			display: flex;
			align-items: center;
		};

		@media (max-width: $media-768) {
			margin: 34px 0 0 0;
			text-align: center;
		};
	}
	// .main-screen__link-box
	&__link-box {

		+ .main-screen__link-box {
			margin: 14px 0 0 0;

			@media (max-width: $media-480) {
				margin: 12px 0 0 0;
			};
		}

		@media (min-width: $media-768) {
			flex: 1 1 100%;

			+ .main-screen__link-box {
				margin: 0 0 0 16px;
			}
		};
	}
	// .main-screen__link
	&__link {
		position: relative;
		height: 72px;
		max-width: 335px;

		&:before, 
		&:after {
			position: absolute;
			z-index: 1;
			width: 100%;
			top: 50%;
			left: 50%;
			text-align: center;
			font-family: $GolosText-Medium;
			font-size: 16px;
			line-height: 21 / 16 * 100%;
			transform: translate(-50%, -50%);
		}

		&--dark {

			&:before {
				content: attr(data-text);

				@media (min-width: $media-768) {
					width: 150px;
				};
			}
		}

		&--light {

			&:after {
				content: attr(data-text);

				@media (min-width: $media-768) {
					width: 100px;
				};
			}
		}

		@media (max-width: $container-width) {
			height: calc(65px + (72 - 65) * ((100vw - 768px) / (#{$container-calc} - 768)));
			font-size: calc(11px + (16 - 11) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (max-width: $media-480) {
			height: 47px;
		};
	}
}
//end main-screen
// start running
.running {
	// .running__wrapper
	&__wrapper {
		background-color: $flamingo;
	}
	// .running__container
	&__container {
		padding-top: 18px;
		padding-bottom: 18px;
		display: flex;
		align-items: center;

		transform: translate(100%, 0);

		animation-name: running;
		animation-duration: 20s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-fill-mode: none;

		@keyframes running {
			0% {
				transform: translate(100%, 0);
			}
			99% {
				opacity: 1;
				transform: translate(-100%, 0);
			}
			100% {
				opacity: 0;
				transform: translate(-100%, 0);
			}
		}

		@media (max-width: $container-width) {
			padding-top: calc(9px + (18 - 9) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(9px + (18 - 9) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .running__text
	&__text {
		white-space: nowrap;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 0 30px;
		font-family: $Merriweather-Regular;
		font-size: 22px;
		line-height: 24 / 22 * 100%;
		color: $white;
		transition: all 0.1s ease-in-out;

		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 13px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: $white;
			transform: translateY(-50%);
		}

		@media (max-width: $container-width) {
			font-size: calc(15.7px + (22 - 15.7) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
}
// end running
// start support
.support {
	// .support__wrapper
	&__wrapper {
		padding-top: 56px;

		@media (max-width: $container-width) {
			padding-top: calc(47.5px + (56 - 47.5) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .support__body
	&__body {
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			display: block;
			max-width: 615px;
			margin: 0 auto;
		};
	}
	// .support__item-text
	&__item-text {

		@media (min-width: $media-768) {
			flex: 0 1 65%;
			margin: 0 30px 0 0;
		};
	}
	// .support__item-image
	&__item-image {
		max-width: 100%;
		margin: 24px 0;

		@media (min-width: $media-768) {
			flex: 0 0 35%;
		};
	}
	// .support__image-box
	&__image-box {
		text-align: right;

		@media (max-width: 768px) {
			text-align: center;
		};
	}
}
// end support
// start session
.session {
	// .session__wrapper
	&__wrapper {
		
	}
	// .session__container
	&__container {
		max-width: 1278px;
		margin: 0 auto;

		@media (max-width: $media-768) {
			padding: 0 20px;
		};
	}
	// .session__body
	&__body {
		max-width: 615px;
		height: 100%;
		margin: 0 auto;

		@media (min-width: $media-991) {
			display: flex;
			max-width: 100%;
			margin: 0;
		};
	}
	// .session__item-piture
	&__item-piture {
		max-width: 370px;
		margin: 0 auto;

		@media (min-width: $media-991) {
			flex: 0 0 539 / $container-calc * 100%;
			max-width: 100%;
		};
	}
	// .session__item-about
	&__item-about {

		@media (min-width: $media-991) {
			padding: 0 20px 0 0;
		};
	}
	// .session__image-box
	&__image-box {
		position: relative;
		text-align: center;

		@media (min-width: $media-991) {
			padding: 0 15px 0 0;
			transform: translate(-1px, -8px);
		};

		@media (max-width: $media-480) {
			margin: 20px -20px 8px;
		};
	}

	&__image {
		width: 100%;

		& source, img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .session__info-box
	&__info-box {

		@media (min-width: $media-991) {
			margin: 40px 0 0 0;
		};
	}
	// .session__table-box
	&__table-box {
		margin: 45px 0 0 0;
		font-family: $GolosText-Regular;
		font-size: 20px;
		line-height: 22 / 20 * 100%;

		@media (min-width: $media-991) {
			margin: 62px 0 0 0;
		};
	}
	// .session__table
	&__table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	// .session__table-cell
	&__table-cell {
		white-space: nowrap;
		padding: 16px 21px 16px 0;
		border-top: none;

		&:nth-child(1) {

			@media (min-width: $media-480) {
				width: 230px;
			};
		}

		&:nth-child(2) {
			white-space: wrap;
			padding: 15px 0 15px 15px;
			border-left: 2px solid $lightalto;
			font-family: $GolosText-SemiBold;
			color: $shaft;

			@media (max-width: $media-480) {
				padding: 14px 0 0 0;
				border: none;
			};
		}

		@media (min-width: 480px) {
			border-top: 2px solid $lightalto;
		};

		@media (max-width: 480px) {
			white-space: wrap;
			padding: 0;
		};
	}
	// .session__table-tr
	&__table-tr {
		color: $shaft-lighten-30;

		&--top {

			.session__table-cell {
				vertical-align: top;
				border-top: none;
				padding: 0 0 16px 15px;

				&:nth-child(1) {
					padding: 0 0 16px 0;

					@media (max-width: $media-480) {
						padding: 0;
					};
				}

				@media (max-width: $media-480) {
					vertical-align: middle;
					padding: 0;

					&:nth-child(2) {
						padding: 14px 0 0 0;
					}
				};
			}
		}

		&--bottom {

			.session__table-cell {
				vertical-align: bottom;
				padding: 16px 0 0 15px;

				&:nth-child(1) {
					padding: 0;
				}

				@media (max-width: $media-480) {
					vertical-align: middle;
					padding: 0;

					&:nth-child(2) {
						padding: 14px 0 0 0;
					}
				};
			}
		}

		@media (max-width: $media-480) {
			display: flex;
			flex-direction: column;
			padding: 16px 0;

			&--top {
				padding: 0 0 16px 0;
			}

			&--bottom {
				padding: 16px 0 0 0;
			}

			+ .session__table-tr {
				border-top: 2px solid $lightalto;
			}

			&--noflex {
				flex-direction: row;

				.session__table-cell {

					&:nth-child(2) {
						padding: 0 0 0 13px;
					}
				}
			}
		};
	}
	// .session__note
	&__note {
		margin: 41px 0 0 0;
		color: $azure;

		@media (min-width: $media-991) {
			margin: 51px 0 0 0;
		};

		@media (max-width: $media-480) {
			font-size: 18px;
		};
	}
	// .session__table-cell-line
	&__table-cell-line {
		text-decoration:line-through;
		text-decoration-color: $flamingo;
		margin: 0 8px 0 0;
	}
}
// end session
// start stage
.stage {
	// .stage__wrapper
	&__wrapper {
		padding-top: 163px;

		@media (max-width: $container-width) {
			padding-top: calc(120px + (163 - 120) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .stage__body
	&__body {
	}
	// .stage__title-box
	&__title-box {
		max-width: 800px;
		margin-bottom: 56px;
	}
	// .stage__title-head
	&__title-head {
		display: inline;

		@media (max-width: 365px) {

			&.h2-text {
				font-size: 30px;
			}
		};
	}
	// .stage__note
	&__note {
		display: block;
		max-width: 100%;
		margin: 13px 0 0 0;
		font-family: $GolosText-Regular;
		font-size: 20px;
		line-height: 24 / 20 * 100%;
		color: $azure;

		@media (max-width: $container-width) {
			font-size: calc(17.9px + (20 - 17.9) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};

		@media (min-width: 560px) {
			display: inline-block;
			max-width: 260px;
			margin: 0 0 0 14px;
		};
	}
	// .stage__container
	&__container {
		position: relative;

		&:before {
			position: absolute;
			content: "";
			z-index: 2;
			bottom: 13px;
			right: -63px;
			width: 400px;
			height: 200px;
			background-image: url('../images/stage/plane.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition-duration: 0.6s;

			@media (max-width: 1260px) {
				bottom: 180px;
				width: 350px;
				height: 188px;
			};

			@media (max-width: $media-991) {
				right: auto;
				bottom: 0;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);
			};

			@media (max-width: $media-480) {
				top: -39px;
				transform: translateX(-45%) rotate(-3deg);
			};
		}

		&.fly {

			&:before {
				top: -10%;
			}
		}

		@media (max-width: $media-991) {
			padding: 91px 0 0 0;
		};
	}
	// .stage__inner
	&__inner {
	}
	// .stage__row
	&__row {
		display: flex;

		@media (min-width: $media-991) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 112px 112px 1fr;
			gap: 20px;
			grid-template-areas: "stage__cell-one stage__cell-two stage__cell-tree" 
			"stage__cell-four stage__cell-five stage__cell-tree" 
			"stage__cell-six stage__cell-seven stage__cell-seven";

			@media (max-width: 1260px) {
				grid-template-rows: 1fr 1fr 1fr;
			};
		};
	}
	// .stage__cell
	&__cell {
		padding: 20px 20px 20px 72px;
		background-image: url('../images/stage/bg-desc.jpg');
		background-repeat: repeat;
		background-position: top left;
		background-size: cover;
		// .stage__cell--one
		&--one {
			grid-area: stage__cell-one;
		}
		// .stage__cell--two
		&--two {
			grid-area: stage__cell-two;
		}
		// .stage__cell--tree
		&--tree {
			grid-area: stage__cell-tree;
		}
		// .stage__cell--four
		&--four {
			grid-area: stage__cell-four;
		}
		// .stage__cell--five
		&--five {
			grid-area: stage__cell-five;
		}
		// .stage__cell--six
		&--six {
			grid-area: stage__cell-six;
		}
		// .stage__cell--seven
		&--seven {
			grid-area: stage__cell-seven;

			& .stage__cell-list-item{
				max-width: 450px;

				@media (max-width: 1260px) {
					max-width: 100%;
				};
			}
		}

		&--timles {

			@media (max-width: $media-991) {
				display: none;
			};
		}

		@media (max-width: $media-991) {
			height: 300px;
			padding: 62px 24px 34px 72px;
		};

		@media (max-width: $media-480) {
			padding: 62px 40px 34px 72px;
		};

		@media (max-width: 375px) {
			height: 100%;
			min-height: 300px;
		};
	}
	// .stage__cell-list
	&__cell-list {
		
	}
	// .stage__cell-list-item
	&__cell-list-item {
		position: relative;
		font-family: $GolosText-Medium;
		font-size: 20px;
		line-height: 24 / 20 * 100%;

		&:before {
			position: absolute;
			content: attr(data-num);
			top: 1px;
			left: -52px;
			width: 36px;
			height: 36px;
			text-align: center;
			background: $white;
			border-radius: 50%;
			color: $shaft;
			font-family: $GolosText-SemiBold;
			font-size: 20px;
			line-height: 36px;
		}

		+ .stage__cell-list-item {
			margin: 31px 0 0 0;
		}

		@media (max-width: $container-width) {
			font-size: calc(17.8px + (20 - 17.8) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .stage__navigation
	&__navigation {
		display: none;

		@media (max-width: $media-991) {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
		};

		@media (max-width: $media-480) {
			margin-top: 28px;
		};
	}
	
	&__pagination {
		display: flex;
		margin: 0 16px;
	}

	&__button {
		
	}
}
// end stage
// start particiant
.participant {
	// .participant__warpper
	&__warpper {
		padding-top: 202px;
		padding-bottom: 140px;

		@media (max-width: $container-width) {
			padding-top: calc(96px + (202 - 96) * ((100vw - 320px) / (#{$container-calc} - 320)));
			padding-bottom: calc(97px + (140 - 97) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .participant__body
	&__body {
	}
	// .participant__head-box
	&__head-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .participant__head
	&__head {
	}
	// .participant__navigation
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $media-991) {
			margin: 40px 0 0 0;
		};
	}
	// .participant__button
	&__button {
	}
	// .participant__pagination
	&__pagination {
		margin: 0 14px;
		color: $shaft-lighten-50;
		font-size: 16px;
	}
	// .participant__container
	&__container {
		padding-top: 60px;

		@media (max-width: $container-width) {
			padding-top: calc(37px + (60 - 37) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .participant__inner
	&__inner {
	}
	// .participant__row
	&__row {
	}
	// .participant__person-box
	&__person-box {
		max-width: 244px;
		margin: 0 auto;

		@media (min-width: $media-991) {
			max-width: 100%;
		};

		@media (min-width: $media-768) {
			max-width: 280px;
		};
	}
	// .participant__person-img
	&__person-img {
		max-width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__inner-content {
		text-align: center;
	}

	&__name {
		margin: 33px 0 0 0;
		color: $shaft;
		font-family: $GolosText-SemiBold;
		font-size: 24px;
	}

	&__status {
		margin: 10px 0 20px;
		color: $shaft-lighten-30;
		font-family: $GolosText-Regular;
		font-size: 20px;
	}

	&__more {
		text-align: center;
	}

	&__more-link {
		padding: 10px 12px;
		border-radius: 60px;
		border: 1px solid $azure;
		font-family: $GolosText-Medium;
		font-size: 16px;
		color: $azure;
		transition-duration: 0.3s;

		@media (any-hover: hover){
			&:hover {
				background-color: $azure;
				color: $white;
			}
		};
	}
}
// end particiant
// start footer
.footer {
	// .footer__wrapper
	&__wrapper {
		padding-top: 40px;
		padding-bottom: 72px;
		background-color: $pearlbush;

		@media (max-width: $container-width) {
			padding-bottom: calc(59px + (72 - 59) * ((100vw - 320px) / (#{$container-calc} - 320)));
		};
	}
	// .footer__description
	&__description {
	}
	// .footer__description-paragraf
	&__description-paragraf {
		font-size: 16px;
		font-family: $GolosText-Regular;
		color: $shaft-lighten-30;
		line-height: 19 / 16 * 100%;
	}
}
// end footer
