.bg-container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: 0;
	overflow: hidden;
	transition-duration: 0.3s;

	&--chess {

		&:before, 
		&:after {
			position: absolute;
			content: "";
			z-index: 6;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			animation-duration: 2s;
			transition-timing-function: ease;
			animation-iteration-count: 1;
			animation-direction: alternate;
			animation-fill-mode: forwards;
		}

		&:before {
			bottom: -4%;
			right: 42%;
			width: 106px;
			height: 144px;
			background-image: url('../images/main-screen/chess-horse.png');

			@media (min-width: $media-768) {
				opacity: 0;
				right: 34%;
				bottom: -7%;
				width: 197px;
				height: 269px;

				animation-name: horse;
				animation-delay: 2s;
				transform: translateX(-49%);

				@keyframes horse {
					0% {
						opacity: 0;
						transform: translateX(-100%);
					};
					100% {
						opacity: 1;
						transform: translateX(-50%);
					}
				}
			};

			@media (min-width: $media-991) {
				right: 26.5%;
			};
		}

		@media (min-width: $media-991) {

			&:after {
				bottom: 3%;
				right: 15%;
				width: 83px;
				height: 123px;
				background-image: url('../images/main-screen/chess-pawn.png');

				animation-name: pawn;
				animation-delay: 2s;
				transform: translateX(-49%);

				@keyframes pawn {
					0% {
						opacity: 0;
						transform: translateX(100%);
					};
					100% {
						opacity: 1;
						transform: translateX(-38%);
					}
				}
			}
		};
	}

	&--back {
		transform: translateX(-50%) scale(1.2);
	}

	&--sun,
	&--city, 
	&--king, 
	&--qween {
		transform: translate(-57.9%, 28.8%) scale(0.53);
		transform: translate(-49.9%, -0.2%) scale(1);
		animation-duration: 0.6s;
		transition-timing-function: ease;
		animation-iteration-count: 1;
		animation-direction: alternate;
		animation-fill-mode: forwards;



		@media (min-width: $media-480) {
			transform: translate(-57%, 26%) scale(0.6);
			transform: translate(-49.9%, -0.2%) scale(1);
		};
	}

	&--sun {
		transform: translate(-57%, 23.8%) scale(0.45);
		transform: translate(-49.9%, -0.2%) scale(1);
	}

	@media (min-width: $media-768) {
		top: -60px;
		left: 65%;
		opacity: 0;

		&--back {
			transform: translateX(-50%);
			opacity: 1;
		}

		// animation
		&--sun,
		&--city, 
		&--king, 
		&--qween {
			transform: translateX(-49%) scale(1);

			animation-duration: 0.6s;
			transition-timing-function: ease;
			animation-iteration-count: 1;
			animation-direction: alternate;
			animation-fill-mode: forwards;
		}

		&--sun {
			top: -10%;
			animation-name: sun;
			animation-delay: 0.7s;
			transform: translateX(-49%);

			@keyframes sun {
				0% {
					opacity: 0;
					transform: translate(-49%, 100%);
				};
				100% {
					opacity: 1;
					transform: translate(-49%, -9%);
				}
			}
		}

		&--city {
			animation-name: city;
			animation-delay: 0.6s;

			@keyframes city {
				0% {
					opacity: 0;
					transform: translateX(-45%);
				};
				100% {
					opacity: 1;
					transform: translateX(-49%);
				}
			}
		}

		&--king {
			animation-delay: 1s;
		}

		&--qween {
			animation-delay: 1.2s;
		}

		&--king, 
		&--qween {
			top: 0;
			// left: 0;
			animation-name: king;
			transform: translateX(-49%);

			@keyframes king {
				0% {
					opacity: 0;
					transform: translate(-49%, 100%);
				};
				100% {
					opacity: 1;
					transform: translate(-49%, 0);
				}
			}
		}
	};

	@media (min-width: $media-991) {
		top: 0;
		left: 48.5%;
	};
}

.bg-picture {
	object-fit: cover;
	object-position: center;
}

.btn-dark,
.btn-light {
	width: 100%;
	border-radius: 60px;
	border: 2px solid $deepgray;
	transition-duration: 0.3s;
}

.btn-dark {
	color: $white;
	background-color: $deepgray;

	@media (any-hover: hover){

		&:hover {
			color: $deepgray;
			background-color: $mango;
		}
	};
}

.btn-light {
	color: $deepgray;
	background-color: transparent;

	&--mod {

		@media (max-width: $media-768) {
			background-color: $white;
			border: 2px solid $white;
		};
	}

	@media (any-hover: hover){

		&:hover {
			color: $white;
			background-color: $deepgray;
		}
	};
}

.h2-text {
	text-transform: uppercase;
	font-family: $Merriweather-Regular;
	font-size: 54px;
	line-height: 62 / 54 * 100%;
	color: $shaft;

	@media (max-width: $container-width) {
		font-size: calc(35px + (54 - 35) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};

	@media (max-width: $media-480) {
		line-height: 59 / 54 * 100%;
	};
}

.h3-text {
	text-transform: uppercase;
	font-family: $Merriweather-Regular;
	font-size: 36px;
	line-height: 49 / 36 * 100%;

	@media (max-width: $container-width) {
		font-size: calc(27.5px + (36 - 27.5) * ((100vw - 320px) / (#{$container-calc} - 320)));
	};
}

.h3-text-type {
	font-family: $Merriweather-Bold;
	color: $flamingo;
}

.img-style {

	& source, img {
		max-width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

//start swirep prop
.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	transition-property: transform;
}

.swiper-autoheight {

	& .swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}
//end swirep prop
// start slider navigation style
.navigation {
	// .navigation__btn
	&__btn {
		position: relative;
		z-index: 5;
		cursor: pointer;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: $shaft;
		transition-duration: 0.3s;

		&.swiper-button-disabled {
			background-color: $shaft-lighten-40;
		}

		&--prev, 
		&--next {
			background-repeat: no-repeat;
			background-position: center;
			background-size: 30%;
			transition-duration: 0.3s;
		}

		&--prev {
			background-position: 48% center;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07676 15.923L1.15369 8.9999L8.07676 2.07682' stroke='white' stroke-width='1.63636' stroke-linecap='square'/%3E%3C/svg%3E%0A");}

		&--next {
			background-position: 51% center;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.92324 2.0769L8.84631 8.99998L1.92324 15.9231' stroke='white' stroke-width='1.63636' stroke-linecap='square'/%3E%3C/svg%3E%0A");
		}

		@media (any-hover: hover){
			&:hover {
				background-color: $mango;
			}
		};

		@media (max-width: $media-480) {
			width: 36px;
			height: 36px;
		};
	}
	// .navigation__pagination
	&__pagination {

		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 0 6px;
			border-radius: 50%;
			background-color: $slightalto;
		}

		.swiper-pagination-bullet-active {
			background-color: $shaft;
		}

		.swiper-pagination-current {
			color: $shaft;
		}
	}
}
// end slider navigation style