// values
$container-width:                               1220px;
$container-calc:                                  1220;

//media
$media-1440:                               '1439.98px';
$media-991:                                 '991.98px';
$media-768:                                 '767.98px';
$media-480:                                 '479.98px';

// fonts
$GolosText-Regular:                'GolosText-Regular';
$GolosText-Medium:                  'GolosText-Medium';
$GolosText-SemiBold:              'GolosText-SemiBold';
$Merriweather-Regular:          'Merriweather-Regular';
$Merriweather-Bold:                'Merriweather-Bold';

//ui-colors
$white:                                          white;
$shaft:                                        #313131;
$shaft-lighten-30:                 lighten($shaft, 30);
$shaft-lighten-40:                 lighten($shaft, 40);
$deepgray:                                     #1F1F1F;
$flamingo:                                     #F54932;
$azure:                                        #3057A2;
$pearlbush:                                    #E9DED4;
$alto:                                         #D6D6D6;
$lightalto:                                    #D0D0D0;
$mango:                                        #FBCE51;




